:root{
	--site-bgcolor: #0f0122f0;

	--barra-bgcolor: #150727;
	--barra-width: 220px /*165px*/;

	--header-height: 45px/*50px*/;
	--header-bgcolor: #0f0122f2;

	--img-icon-account: ;
}

body, html{
	overflow: hidden;
	margin: 0;
	font-family: Arial;
	height: 100%;
	color: white;

	/*Scrollbar Firefox*/
	scrollbar-color: rebeccapurple #230F30;
}

/*Scrollbar Outros Navegadores*/
::-webkit-scrollbar{
	width: 10px;
	background-color: #230F30;
}
::-webkit-scrollbar-thumb{
	background-color: rebeccapurple;
}
.clickable{
	cursor: pointer;
}
.cabecario{
	height: var(--header-height);
	background-color: var(--header-bgcolor);
}
.cabecario .icon-logo{
	position: absolute;
	top: 2px;
	left: 2px;
	height: 42px;
	width: 42px;
	background-color: white;/*Temporario*/
	border-radius: 100%; 
}
.cabecario .icon-account{
	position: absolute;
	top: 2px;
	right: 0;
	height: 42px;
	width: 42px;
	margin-right: 5px;
	border-radius: 100%;
	cursor: pointer;
  	box-shadow: 0 0 4px black;
}
.cabecario .icon-account:hover{
	background: #6A5ACD;
	box-shadow: 0 0 4px white;
}

#content{
	padding-bottom: 50px;
	background-color: var(--site-bgcolor);
	overflow: auto;
 	/*! height: 100%; */
 	display: block;
	width: 100%;
}
.barra-lateral{
	background-color: var(--barra-bgcolor);
	/*background-image: linear-gradient(#0d0d26, #19194d, #0d0d26);*/
	width: var(--barra-width);
	height: 100%;
	display: flex;
	flex-direction: column;
	min-width: var(--barra-width);
}

.barra-lateral * {
	margin: 5px 0 5px 0px;
}
.title-barral{
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-weight: bolder;
	font-size: 15px;
	display: block;
}

.barra-lateral .logo-plataforma {
	height: 37px;
	vertical-align: middle;
}
.title-plataforma{
	text-transform: uppercase;
	vertical-align: middle;
	font-weight: bold;
	margin-left: 4px;
	font-size: 17px;
}

#plataforma{
	transition: transform .11s;
	width: 200px;
	height: 50px;
	margin-left: 10px;
}
#plataforma:hover{
	background: #1a0033;
	transform: scale(1.1);
}

#recomendados{
	position: absolute;
	bottom: 0;
}

#jogo-recomendado{
	margin-top: -8px;
	transition: transform .11s;
	margin-left: 10px;
}
#jogo-recomendado:hover{
	margin-left: 10px;
	transform: scale(1.1);
}
#content-header{
	width: 100%;
}
#content-header h2{
	font-size: 38px;
	text-indent: 16px;
	margin: 0;
	margin-top: 3px;
	margin-bottom: 16px;
	font-family: Arial;
}
#game-category h2{
	font-size: 28px;
	text-indent: 16px;
	margin-left: 5px;
	margin-top: -10px;
	margin-bottom: 10px;
	font-family: Arial;
}
#game-indice{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 23px;
}
.info-game{
	transition: transform .11s;
	margin-right: 7px;
	margin-bottom: 37px;
	width: 188px;
	height: 297.667px
}
.info-game:hover{
	background: #836FFF;
	transform: scale(1.1);
}

.marca-dagua{
  position: relative;
}
.marca-dagua img{
  width: 43px;
  position:absolute;
  right:0;
  opacity: 0.8;
  /* border-bottom: 2px solid black;border-left: 2px solid black; */
  /*border-radius: 100px;*/
  /*transform: translate(30%, -30%)*/
}
#game-img{
  overflow:hidden;
}
.game-img{
	background-color: black;
	height: 272px;
	width:100%;
}
#sub-info{
	padding-bottom: 5px;
}

.title-game{
	font-weight: bold;
	margin-left: 2px;
}

#tags{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2px;
  max-height: 27px;
}
.tag {
  border-radius: 5px 5px 5px 5px;
  background-color: gray;
  padding: 0 5px 0px 5px;
  margin: 2px 0px 0 2px;
  font-size: 10px;
  font-weight: bold;
  flex-basis: 0;
}
#main{
	display: flex;width: 100%;height: 100%;
}
a { color: inherit; } 
