#page main{
    background-color: var(--color-primary);
    height: calc(100vh - 5.2rem);
    width: calc(100vw - 6.4rem);
    margin-left: 6.4rem;
    color: var(--color-title-in-primary);
    
    overflow: auto;
}


#page main #content .list-games h2{
    font: 700 2.0rem Archivo;
    text-indent: 1.6rem;

    margin-bottom: 1rem;
}

#page main #content .list-games {
    padding: 1.2rem 0;
    background-color: #2e184a;
    border-radius: 0.8rem 0.8rem 0.6rem 0.6rem;

    margin: 2rem 0.8rem;
}

#page main #content .list-games .games{
    display: flex;

    /* border-radius: .6rem; */
    margin: 0 1rem;
    /* background-color: #2e184a; */

    overflow-y: hidden;
    overflow-x: auto;

}

@media (min-width: 700px){
    #page main #content .list-games .games{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
    }
    #page main #content .list-games .games .game{
        margin-left: 2rem;
    }
}

#page main #content .list-games .games .game{
    /* background-color: red; */
    background-color: #221038;

    width: min-content;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    padding: 0.4rem 0.6rem;

    border-radius: 0.6rem;
}

#page main #content .list-games .games .game+.game{
    margin-left: 1.0rem;
}

#page main #content .list-games .games .game .game-image {
    height: 20.6rem;
    width: 13.8rem;

    background-color: black;

    position: relative;
}

#page main #content .list-games .games .game .game-image .img{
    height: 20.6rem;
    width: 13.8rem;
}

#page main #content .list-games .games .game .game-image .marca-dagua{
    width: 3.6rem;
    opacity: 0.6;

    position: absolute;
    top: 0;
    right: 0;
}   

#page main #content .list-games .games .game .sub-info h3{
    font-weight: 700;
    font-size: 1.6rem;
    font-family: Archivo;

    margin-top: 0.2rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

#page main #content .list-games .games .game .sub-info .game-tags{
    margin-top: .0rem;

    display: flex;
    flex-flow: wrap;
    
}

#page main #content .list-games .games .game .sub-info .game-tags .tag{
    font-size: 1.2rem;
    font: 700 1.0rem Archivo;

    text-align: center;

    padding: 0.1rem 0.4rem;
    margin-top: 0.4rem;
    border-radius: 2rem;
     
    background-color: rgb(102, 102, 102);
}   
#page main #content .list-games .games .game .game-tags .tag+.tag{
    margin-left: 0.2rem;
}
